/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* general */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* image gallery */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.galleryWrapper {
  margin-top: 80px;
}

.products.gallery {
  -webkit-column-width: 280px;
  -moz-column-width: 280px;
  -o-column-width: 280px;
  column-width: 280px;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  -o-column-gap: 5px;
  column-gap: 5px;
  padding: 0 5px;
  font-size: 0;
  margin-top: 5px;
}

.products.gallery figure {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 0 5px 0;
}

.products.gallery figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 300ms;
}

.products.gallery figure img {
  width: 100%;
  height: auto;
}

.products.gallery figure figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  max-height: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #ddd;
  text-shadow: 0 0 1px #000;
  opacity: 0;
  overflow: auto;
  transition: opacity 300ms;
  -webkit-overflow-scrolling: touch;
}

.products.gallery figure figcaption::-webkit-scrollbar {
  width: 4px;
}

.products.gallery figure figcaption::-webkit-scrollbar-track {
  background-color: transparent;
}

.products.gallery figure figcaption::-webkit-scrollbar-thumb {
  background: #bbb;
}

.products.gallery figure figcaption::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.products.gallery figure:hover::after {
  background: rgba(0,0,0,0.8);
}

.products.gallery figure:hover figcaption {
  opacity: 1;
}