/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* general */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* image gallery */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.galleryWrapper {
  margin-top: 85px;
}

.products.gallery {
  -webkit-column-width: 280px;
  -moz-column-width: 280px;
  -o-column-width: 280px;
  column-width: 280px;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  -o-column-gap: 5px;
  column-gap: 5px;
  padding: 0 5px;
  font-size: 0;
  margin-top: 5px;
}

.products.gallery figure {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 0 5px 0;
}

/*.products.gallery figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 300ms;
}*/

.products.gallery figure img {
  width: 100%;
  height: auto;
}

.products.gallery figure figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  max-height: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #ddd;
  text-shadow: 0 0 1px #000;
  opacity: 0;
  overflow: auto;
  transition: opacity 300ms;
  -webkit-overflow-scrolling: touch;
}

.products.gallery figure figcaption::-webkit-scrollbar {
  width: 4px;
}

.products.gallery figure figcaption::-webkit-scrollbar-track {
  background-color: transparent;
}

.products.gallery figure figcaption::-webkit-scrollbar-thumb {
  background: #bbb;
}

.products.gallery figure figcaption::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.products.gallery figure:hover::after {
  background: rgba(0,0,0,0.8);
}

.products.gallery figure:hover figcaption {
  opacity: 1;
}

.ion-ios-close-empty:before {
  position: absolute;
  top: -10px;
  left: 20px;
}

img.trigger-overlay {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

img.trigger-overlay:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* image gallery overlay */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(32,32,32,0.8);
  text-align: center;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 80px;
  overflow: hidden;
  border: none;
  z-index: 100;
  color: #fff;
  font-size: 100px;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 64px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}

.overlay ul li a {
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover, .overlay ul li a:focus {
  color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc, .currentEnlargedImage {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open, .overlay-hugeinc.open .currentEnlargedImage {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: -webkit-transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

.currentEnlargedImage {
  width: 30%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img0, .img3, .img9, .img11, .img13 {
  width: 30%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img1 {
  width: 31.2%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img2 {
  width: 43.5%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img4 {
  width: 43.5%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img5 {
  width: 43.5%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img6 {
  width: 64%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img7 {
  width: 35.5%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img8 {
  width: 43.5%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img10 {
  width: 29%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img12 {
  width: 35.5%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

.img14 {
  width: 43.5%;
  position: relative;
  top: 12%;
  border: 20px solid #fff;
}

i.ion-ios-arrow-thin-left {
  position: absolute;
  color: #fff;
  left: 15%;
  top: 50%;
  font-size: 50px;
  cursor: pointer;
}

i.ion-ios-arrow-thin-right {
  position: absolute;
  color: #fff;
  right: 15%;
  top: 50%;
  font-size: 50px;
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  
  .overlay ul li {
    min-height: 34px;
  }
}