/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Navbar */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.navbar.topFixedNav {
  min-height: 70px;
  border: none;
  background-color: transparent;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  transition: background-color 0.3s;
  will-change: transform;
}

nav.navbar.show-color {
  background: #fff;
}

nav.navbar.show-other-color {
  background: rgba(41,41,41,1);
}

nav.navbar.show-color .navbar-brand.logo, nav.navbar.show-color .navbar-nav.navbarLinks>li>a {
  color: #292929;
}

.navbar-default .navbar-brand.logo, .navbar-default .navbar-nav.navbarLinks>li>a {
  color: #fff;
}

nav.navbar.show-color .navbar-brand.logo {
  visibility: visible;
  -webkit-transform: translate(100%, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate(100%, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate(100%, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 1;
}

nav.navbar.show-other-color .navbar-brand.logo {
  visibility: visible;
  -webkit-transform: translate(100%, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate(100%, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate(100%, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 1;
  color: #fff;
}

.navbar-default.show-other-color .navbar-nav.navbarLinks>li.active {
  color: #fff;
  /*background: rgba(255, 255, 255, 0.15);*/
  box-shadow: inset 0 -3px 0 0 #fff;
}

.navbar-brand.logo {
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: -281px;
  -webkit-transform: translate(100%, -50%);
  -webkit-transform: translate3d(100%, -50%, 0);
  -ms-transform: translate(100%, -50%);
  -ms-transform: translate3d(100%, -50%, 0);
  transform: translate(100%, -50%);
  transform: translate3d(100%, -50%, 0);
  transition: transform 0.2s ease-in, opacity 0.2s ease-in, visibility 0.2s ease-in;
  opacity: 0;
  cursor: pointer;
}

div#bs-example-navbar-collapse-1.navLinks {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0%, -50%);
}

/*.navbar-header.navHead {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translate(0%, -50%);
  padding-left: 11px;
}*/

.navbar-default .navbar-brand.logo .titleBig {
  text-transform: uppercase;
}

.navbar-default .navbar-nav.navbarLinks>li>a {
  font-size: 15px;
  text-transform: uppercase;
  height: 65px;
  font-weight: 300;
  line-height: 40px;
}

.navbar-default.topFixedNav .navbar-nav>.active>a,
.navbar-default.topFixedNav .navbar-nav>.active>a:focus,
.navbar-default.topFixedNav .navbar-nav>.active>a:hover {
  background: none;
}

.navbar-default .navbar-nav.navbarLinks>li {
  transition: all .5s;
  margin-bottom: 5px;
  margin-right: 5px;
}

.navbar-default .navbar-nav.navbarLinks>li.active {
  color: #292929;
  /*background: rgba(255, 255, 255, 0.15);*/
  box-shadow: inset 0 -3px 0 0 #292929;
}

span.titleSmall {
  font-size: 10px;
  font-weight: 100;
  position: relative;
  bottom: 2px;
}

.titleImageWrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  top: 15px;
  left: 9%;
}

img.img-responsive.titleImage {
  position: absolute;
  filter: grayscale(100%);
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Nav Link Effect */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.grid__item {
  z-index: 1;
  position: relative;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 50em) {
  .grid__item {
    width: 100%;
  }
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 8em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
}

.link--kumya {
  font-size: 5em;
  overflow: hidden;
  padding: 10px 10px;
  line-height: 1;
  color: #292929;
}

.link--kumya:hover {
  color: #292929;
}

.link--kumya::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 100%;
  top: 31%;
  right: 0;
  z-index: -1;
  background: #ffffff;
  -webkit-transform: translate3d(101%, 0, 0);
  transform: translate3d(101%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-color .link--kumya::after {
  background: #292929;
}

.link--kumya:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.link--kumya span {
  display: block;
  position: relative;
}

.link--kumya span::before {
  content: attr(data-letters);
  position: absolute;
  color: #292929;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-color .link--kumya span::before {
  color: #ffffff;
}

.link--kumya:hover span::before {
  width: 100%;
}

@media screen and (max-width: 42em) {
  .link-kumya {
    font-size: 3em;
  }
}