/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* contact */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
section#contact {
  position: relative;
  background-color: #202020;
  color: #fff;
}

.showContact {
  position: fixed !important;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

/* hide google logo, trademark and tos */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

.mapWrapper {
  height: 565px;
}

.col-md-6.p0.text-center.videoDescriptionWrapper {
  height: 565px;
  padding: 0 20px;
}

ul.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.contactList li {
  display: inline-block;
}

ul.contactList li a {
  color: #fff;
}

h1.contactCta {
  font-weight: 200;
}

.whiteOut {
  background-color: #fff !important;
  color: #fff;
}

.blurbOne h4 em {
  color: rgba(178,178,178,1);
}

.blurbOne h1 {
  color: rgba(248,189,1,1);
  margin-top: 0;
}

.blurbOne {
  width: 20%;
  margin: 0 auto;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* about */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
section#about {
  height: 100vh;
  background-color: #fff;
  color: rgba(32,32,32,1);
  position: relative;
}

.extraMarginBottom {
  margin-bottom: 100vh;
}

section#about .cl-effect-6 {
  background-color: #fff;
}

section#about .cl-effect-6 div {
  color: rgba(32,32,32,1);
}

section#about .cl-effect-6 .b::before,
section#about .cl-effect-6 .b.about::after {
  background: rgba(32,32,32,1);
}

.aboutTextWrapper.text-left {
  width: 90%;
  margin: 56px;
  padding: 0 50px;
}

.aboutTextWrapper h1 {
  display: inline-block;
  letter-spacing: -3px;
  text-transform: lowercase;
  font-weight: 900;
  font-size: 6.5em;
}

.aboutTextWrapper p {
  text-transform: none;
  width: 90%;
  margin: 20px 0;
  font-size: 2em;
}

.aboutBorder {
  position: absolute;
  width: 90%;
  height: 70%;
  border: 5px solid #202020;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 150px;
}